$md-largest: 75em;
$md-large: 61em;
$md-medium: 50em;
$md-small: 35.6em;

* {
  margin: 0;
  padding: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  display: block;
}
