$md-largest: 75em;
$md-large: 61em;
$md-medium: 50em;
$md-small: 35.6em;

* {
  margin: 0;
  padding: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  display: block;
}

.dashboard-layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 283px 1fr;
  grid-template-areas: "a  b";
  &__sidebar {
    grid-area: a;
    background-color: black;
  }
  &__content {
    grid-area: b;
    background-color: green;
  }
}
