$md-largest: 75em;
$md-large: 61em;
$md-medium: 50em;
$md-small: 35.6em;
$primary-color: #39cdcc;

* {
  margin: 0;
  padding: 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  max-width: 100%;
  display: block;
}

.dashboard-layout {
  display: grid;
  min-height: calc(100vh - 100px);
  grid-template-columns: 283px 1fr;
  grid-template-areas: "a  b";
  @media screen and (max-width: $md-large) {
    grid-template-columns: 1fr;
  }
  &__sidebar {
    grid-area: a;
    background-color: white;
    @media screen and (max-width: $md-large) {
      display: none;
      grid-area: none;
    }
  }
  &__content {
    grid-area: b;
    background-color: #fbfbfb;
    padding: 3.94rem;
    @media screen and (max-width: $md-large) {
      grid-area: a;
    }
  }
}

.user-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1.6rem;
}
